.header-logo {
    background-color:rgb(2, 2, 29);
    color: rgb(208, 238, 221);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
form {
    background-color:rgb(185, 176, 178);
    width: 300px;
    height: 44px;
    display: flex;
    border-radius: 5px;
    flex-direction: row;
    align-items: center;
    padding-left: 2px;
}
input {
    all: unset;
    font: 16px system-ui;
   color: black;
    height: 100%;
    width: 100%;
    
}
.btn {
    padding-right: 10px;
}
::placeholder {
    color: rgb(8, 13, 88);
    opacity: 0.7;
}
.nav-bar {
    background-color: rgb(17, 3, 56);
    padding-right: 15px;
    color: indigo;
    margin-top: 15px;
}

.nav-list {
    display: flex;
    list-style: none;
    text-transform: capitalize;
    justify-content: space-around;
}
.nav-list {
    text-decoration: none;
    font-size: 18px;
    justify-content: space-around;
}
.ul{
    justify-content: space-around;
}
.main-nav-bar{
    background-color: rgb(11, 19, 90);
    height: 50px;
    font-size: 20px;
    text-transform: capitalize;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400%;
    padding-top: 15px;
    justify-content: space-around ;
    align-items: center;
    padding-left: 200px;
    gap: 20%;

}
.nav-items {
    text-decoration: none;
    list-style: none;
    display: inline-block;
    text-align: centers;
    justify-content: right;
}
.nav-link {
    display: inline-block;
    color: beige;
    display: inline-flex;
    padding-left: 20px;
}
.showcase {
    background-image: url(../images/ssq.png);
    background-repeat: no-repeat;
    background-size: cover ;
    padding-top: 20px;
    height: 470px;
    text-align: center;
    color: black;
}
.showcase h1 {
    font-size: 80px;
    color: rgb(245, 240, 248);
    background-color: rgb(97, 6, 62);

}
.showcase p {
    font-size: 20px;
}

.recomended-products{
    display: flex;
    justify-content: space-between;
}
.recomended-heading h2 {
    font-weight: 700px;
    font-size: 30px;
    text-transform: inherit;
}
.recomended-heading h3 {
    text-transform: capitalize;
    font-size: 18px;

}


.font {
    font-size: 20px;
    text-transform: capitalize;
    
}
.font2 {
    font-weight: 900px;
    font-size: 30px;
}

.products img {
    flex-basis: 30%;
    width: 100%;
}

.products {
    width: 100px;
}
.footer {
    background-color: rgb(4, 2, 37);
    color: white;
    font-size: smaller;
    width: none;
}
.side-div {
    border: none;
    display: flex;
}
.vertical {
    border: 2px solid rgb(240, 240, 241);
    background-color: rgb(19, 121, 139);
    width: 20%;

}
.vertical {
    background-color: rgb(63, 3, 28);
    color: white;
}
.vertical1 {
    background-color: rgb(63, 3,28);
    border:2px solid white;
    color: white;
}
.side-div1 {
    background-color: rgb(2, 38, 44);
}